Repository USEPA/webcms: changes, and which GitLab CI jobs are due for each by the changed paths.
All: build:drupal, build:metrics, build:traefik

Path conditions:
  build:drupal: any of: services/drupal/**/*, .gitlab-ci.yml, .gitlab/docker.yml
  build:metrics: any of: services/metrics/**/*, .gitlab-ci.yml
  build:traefik: any of: services/traefik/**/*, .gitlab-ci.yml

Updates terraform plan artifact name
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

docs: Clarify 'd8' and 'd7' database identifiers in Terraform
  terraform/infrastructure/parameters.tf
  terraform/infrastructure/secrets.tf
  terraform/webcms/shared.tf
Due: none

Updated and created a PR for tickets WEBCMS-125, 141, 147, 148, and 157
  services/drupal/composer.json
  services/drupal/composer.lock
Due: build:drupal

Update samlauth to 8.x-3.11 and patch blocked message
  services/drupal/composer.json
  services/drupal/composer.lock
  services/drupal/composer.patches.json
  services/drupal/patches/samlauth-update-blocked-message.patch
Due: build:drupal

Updated and created a PR for tickets #158, 160, and 94
  services/drupal/composer.json
  services/drupal/composer.lock
Due: build:drupal

Create pull_request_template.md for PR submissions
  .github/pull_request_template.md
Due: none

Updated layout_builder_restrictions to 3.0.4 and page_manager to rc3
  services/drupal/composer.json
  services/drupal/composer.lock
Due: build:drupal

Update to page_manager broke Page views in custom module
  services/drupal/web/modules/custom/epa_web_areas/epa_web_areas.module
Due: build:drupal

Updated and created a PR for ticket 138 to remove 2 old patches - read ticket to get further details.
  services/drupal/composer.json
  services/drupal/composer.lock
  services/drupal/composer.patches.json
Due: build:drupal

CI: Require manual approval for staging deployments during AWS testing
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: Temporarily make staging update jobs manual
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

Restricts development deployment jobs
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

Simplifies development deployment rules
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

CI: Remove Traefik and decommission development environment
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

temp file
  temp.md
Due: none

Ensures image builds target all registries
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

CI: Refactor staging environment triggers to `live` branch
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

CI: Remove redundant staging-specific build and copy rules
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

CI: Enforce manual approval for production deployments
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

CI: Require manual approval for production database updates
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

feat: Expand CI build matrix to include WEBCMS_SITE for parallel builds
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

Updates Drupal package URL
  services/drupal/composer.json
Due: build:drupal

ci: Refine 'live' branch deployment rules for WEBCMS_SITE
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: Add build skipping for WEBCMS_SITE in parallel matrices
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: Make deploy:dev job dependencies optional
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: Make deploy:stage job dependencies optional
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: Make update job dependencies optional
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

feat(ecr): Add repositories for FPM metrics and CloudWatch agent
  terraform/infrastructure/ecr.tf
Due: none

CI: Prevent dev deployments if WEBCMS_SITE is not 'dev'
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

CI: Prevent environment jobs from running for incorrect WEBCMS_SITE
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

Chore: Minor formatting update for drush task command
  terraform/webcms/drush.tf
Due: none

feat(ci): Add Prisma Cloud image vulnerability scanning jobs
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

refactor(ci): Split GitLab CI Terraform staging jobs by language
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

fix(ci): Update update:stage jobs with language-specific apply job needs
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: Secure Docker login with password-stdin
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: Refactor Prisma scan job dependencies and matrix rules
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

Refactor: Consolidate GitLab CI build job rules for clarity
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

Refactor(ci): Simplify live branch `when:` rules for site filtering
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: unify live branch deployments and restore security scans
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik

ci: consolidate live branch deployments and add site filtering
  .gitlab-ci.yml
Due: build:drupal, build:metrics, build:traefik
